.questions {
  background-image: linear-gradient(to bottom, rgb(27, 29, 33), rgb(40, 7, 36));

  &_title {
    font-size: 24px;
    line-height: 1.35;
  }

  &_text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.55;
  }
}
