.main_background {
  background-image: url('./hands.svg');
  width: 100%;
  height: 560px;
  background-position: center center;
  background-attachment: scroll;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: linear-gradient(to bottom, rgba(27, 29, 33, 0.7), rgba(27, 29, 33, 1));
}
