.main {
  &_background {
    width: 100%;
    height: 560px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(27, 29, 33, 0.7), rgba(27, 29, 33, 1)),
      url('./hands.svg');
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &_tablegames {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  &_table {
    h1 {
      color: #ffffff;
      font-size: 73px;
      font-family: 'Museo', Arial, sans-serif;
      line-height: 1.1;
      font-weight: 800;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    p {
      color: #ffffff;
      font-size: 27px;
      font-family: 'Museo', Arial, sans-serif;
      line-height: 1.65;
      font-weight: 600;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
  }
}
