.main {
  &_background {
    width: 100%;
    height: 560px;
    background-position: center center;
    background-attachment: scroll;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to bottom, rgba(27, 29, 33, 0.7), rgba(27, 29, 33, 1)),
      url('./hands.svg');
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &_tablegames {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  &_allimg {
    display: flex;
    position: relative;
    top: 0;
    right: 0;
  }
  &_imagl1 {
    position: absolute;
    right: 50px;
    top: -180px;
  }
  &_imagl2 {
    position: absolute;
    top: 150px;
    right: 420px;
  }
  &_imagl3 {
    position: absolute;
    bottom: 110px;
    left: -90px;
  }

  &_table {
    h1 {
      color: #ffffff;
      font-size: 73px;
      font-family: 'Museo', Arial, sans-serif;
      line-height: 1.1;
      font-weight: 800;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
    p {
      color: #ffffff;
      font-size: 27px;
      font-family: 'Museo', Arial, sans-serif;
      line-height: 1.65;
      font-weight: 600;
      background-position: center center;
      border-color: transparent;
      border-style: solid;
    }
  }
}

.button_main {
  display: flex;
  flex-direction: row;
  color: #ffffff;
  font-size: 20px;
  padding: 6px 40px;
  line-height: 45px;
  font-weight: 600;
  border-radius: 15px;
  background-image: linear-gradient(130deg, rgba(68, 0, 118, 1) 8%, rgba(201, 2, 103, 1) 100%);
}
